HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

#### NPM ###
src/main/resources/static/node_modules

### SMTP Email Setting ###
src/main/resources/application-db.yml

### OAuth2.0 Social Login Key ###
src/main/resources/application-oauth.yml

###package-json Setting ###
src/main/resources/static/package-lock.json

###.csv###
src/main/resources/list_district_kr.csv