<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/config :: config"></head>
<body class = bg-light>

<div th:replace="fragments/header :: main_nav"></div>
<div th:replace="fragments/club :: clubBanner"></div>

<div class="container">
    <div th:replace="fragments/meeting :: meeting_form (mode='create', action='/club/' + ${club.clubPath} + '/create-meeting/')"></div>
</div>


<script th:replace="fragments/script:: formValidation"></script>
<script th:replace="fragments/script :: editor_script"></script>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
