<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head th:replace="fragments/config :: config"></head>
<body class="bg-light">
<div th:replace="fragments/header :: main_nav"></div>

<div class="halfContainer">
    <div class="py-4 text-center justify-content-center bg-light">
        <strong class="h3">모임 이름: </strong>
        <span class="h3" th:text="${club.title}"></span>
        <hr>
        <strong class="h3" >미팅 이름: </strong>
        <span class="h3" th:text="${meeting.title}"></span>

        <span sec:authorize="isAuthenticated()">
            <button th:if="${meeting.isEnrollable(#authentication.principal)}" class="btn btn-outline-primary" data-toggle="modal" data-target="#enroll">
                <i class="fa fa-plus-circle"></i> 참가 신청
            </button>

            <button th:if="${meeting.isDisEnrollable(#authentication.principal)}" class="btn btn-outline-primary" data-toggle="modal" data-target="#disenroll">
                <i class="fa fa-minus-circle"></i> 참가 신청 취소
            </button>

            <span class="text-success" th:if="${meeting.isAttended(#authentication.principal)}" disabled>
                <i class="fa fa-check-circle"></i> 참석 완료
            </span>
        </span>

        <div class="modal fade" id="disenroll" tabindex="-1" role="dialog" aria-labelledby="leaveTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="leaveTitle" th:text="${meeting.title}"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        <form th:action="@{'/club/' + ${club.clubPath} + '/meeting/' + ${meeting.id} + '/disenroll'}" method="post">
                            <button class="btn btn-primary" type="submit" aria-describedby="submitHelp">확인</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!-- -->
        <div class="col-7 pt-3">
            <dt class="font-weight-light">상세 모임 설명</dt>
            <dd th:utext="${meeting.description}"></dd>

            <dt class="font-weight-light">모임 참가 신청 (<span th:text="${meeting.enrollments.size()}"></span>)</dt>
            <dd>
                <table class="table table-borderless table-sm" th:if="${meeting.enrollments.size() > 0}">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">참석자</th>
                        <th scope="col">참가 신청 일시</th>
                        <th scope="col">참가 상태</th>
                        <th th:if="${club.isManager(#authentication.principal)}" scope="col">
                            참가 신청 관리
                        </th>
                        <th th:if="${club.isManager(#authentication.principal)}" scope="col">
                            출석 체크
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="enroll: ${meeting.enrollments}">
                        <th scope="row" th:text="${enrollStat.count}"></th>
                        <td>
                            <a th:href="@{'/profile/' + ${enroll.account.nickname}}"
                               class="text-decoration-none">
                                <svg th:if="${#strings.isEmpty(enroll.account?.profileImage)}" data-jdenticon-value="nickname"
                                     th:data-jdenticon-value="${enroll.account.nickname}" width="24" height="24" class="rounded border bg-light"></svg>
                                <img th:if="${!#strings.isEmpty(enroll.account?.profileImage)}"
                                     th:src="${enroll.account?.profileImage}" width="24" height="24" class="rounded border"/>
                                <span th:text="${enroll.account.nickname}"></span>
                            </a>
                        </td>
                        <td>
                            <span class="date-time" th:text="${enroll.enrolledAt}"></span>
                        </td>
                        <td>
                            <span th:if="${enroll.accepted}">확정</span>
                            <span th:if="${!enroll.accepted}">대기중</span>
                        </td>
                        <td th:if="${club.isManager(#authentication.principal)}">
                            <a th:if="${meeting.canAccept(enroll)}" href="#" class="text-decoration-none"
                               th:href="@{'/club/' + ${club.clubPath} + '/meeting/' + ${meeting.id} + '/enrollments/' + ${enroll.id} + '/accept'}" >신청 수락</a>
                            <a th:if="${meeting.canReject(enroll)}" href="#" class="text-decoration-none"
                               th:href="@{'/club/' + ${club.clubPath} + '/meeting/' + ${meeting.id} + '/enrollments/' + ${enroll.id} + '/reject'}">취소</a>
                        </td>
                        <td th:if="${club.isManager(#authentication.principal)}">
                            <a th:if="${enroll.accepted && !enroll.attended}" href="#" class="text-decoration-none"
                               th:href="@{'/club/' + ${club.clubPath} + '/meeting/' + ${meeting.id} + '/enrollments/' + ${enroll.id} + '/checkin'}">체크인</a>
                            <a th:if="${enroll.accepted && enroll.attended}" href="#" class="text-decoration-none"
                               th:href="@{'/club/' + ${club.clubPath} + '/meeting/' + ${meeting.id} + '/enrollments/' + ${enroll.id} + '/cancel-checkin'}">체크인 취소</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </dd>
        </div>
        <!-- -->

        <div class="modal fade" id="enroll" tabindex="-1" role="dialog" aria-labelledby="enrollmentTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="enrollmentTitle" th:text="${meeting.title}"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        <form th:action="@{'/club/' + ${club.clubPath} + '/meeting/' + ${meeting.id} + '/enroll'}" method="post">
                            <button class="btn btn-primary" type="submit" aria-describedby="submitHelp">확인</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <dl class="col-3 pt-3 text-right">
            <dt class="font-weight-light">모집 방법</dt>
            <dd>
                <span th:if="${meeting.meetingType == T(com.funmeet.domain.MeetingType).FCFSB}">선착순</span>
                <span th:if="${meeting.meetingType == T(com.funmeet.domain.MeetingType).CONFIRM}">관리자 확인</span>
            </dd>

            <dt class="font-weight-light">모집 인원</dt>
            <dd>
                <span th:text="${meeting.limitOfEnrollments}"></span>명
            </dd>

            <dt class="font-weight-light">모임 일시</dt>
            <dd>
                <span class="date" th:text="${meeting.startDateTime}"></span>
                <span class="weekday" th:text="${meeting.startDateTime}"></span><br/>
                <span class="time" th:text="${meeting.startDateTime}"></span> -
                <span class="time" th:text="${meeting.endDateTime}"></span>
            </dd>

            <dt class="font-weight-light">모임장</dt>
            <dd>
                <a th:href="@{'/profile/' + ${meeting.createdAccount?.nickname}}" class="text-decoration-none">
                    <svg th:if="${#strings.isEmpty(meeting.createdAccount?.profileImage)}"
                         th:data-jdenticon-value="${meeting.createdAccount?.nickname}" width="24" height="24" class="rounded border bg-light"></svg>
                    <img th:if="${!#strings.isEmpty(meeting.createdAccount?.profileImage)}"
                         th:src="${meeting.createdAccount?.profileImage}" width="24" height="24" class="rounded border"/>
                    <span th:text="${meeting.createdAccount?.nickname}"></span>
                </a>
            </dd>

            <dt th:if="${club.isManager(#authentication.principal)}" class="font-weight-light">모임 관리</dt>
            <dd th:if="${club.isManager(#authentication.principal)}">
                <a class="btn btn-outline-primary btn-sm my-1"
                   th:href="@{'/club/' + ${club.clubPath} + '/meeting/' + ${meeting.id} + '/edit'}" >
                    모임 수정
                </a> <br/>
                <button class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#cancel">
                    모임 취소
                </button>
            </dd>
        </dl>

        <div class="modal fade" id="cancel" tabindex="-1" role="dialog" aria-labelledby="cancelTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="cancelTitle" th:text="${meeting.title}"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>모임을 취소 하시겠습니까?</p>
                        <p><strong>확인</strong>하시면 삭제됩니다.</p>
                        <p>감사합니다.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        <form th:action="@{'/club/' + ${club.clubPath} + '/meeting/' + ${meeting.id} + '/delete'}" th:method="post">
                            <button class="btn btn-primary" type="submit" aria-describedby="submitHelp">확인</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:replace="fragments/script :: time_script"></script>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
