<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <span th:replace="fragments/config :: config"></span>
    <link rel="stylesheet" href="/node_modules/@yaireo/tagify/dist/tagify.css">
</head>

<body class="bg-light">
<div th:replace="fragments/header :: main_nav"></div>
<div th:replace="fragments/club :: clubBanner"></div>

<div class="container">
    <div th:replace="fragments/club :: club_stat"></div>
    <div th:replace="fragments/club :: club_menu (settings)"></div>

    <div class="row mt-3 justify-content-center">
        <div class="col-2">
            <div th:replace="fragments/club :: club_settings_menu(club)"></div>
        </div>

        <div class="col-8">
            <div class="card">
                <div class="card-body tab-content">
                    <div class="row">
                        <form th:if="${!club.published && !club.closed}" class="col-sm-12" action="#" th:action="@{'/club/' + ${club.getClubPath()} + '/settings/club/publish'}" method="post" novalidate>
                            <h5 class="col-sm-12">모임 공개</h5>
                            <div class="alert alert-info" role="alert">
                                모임을 다른 사용자에게 공개할 준비가 되었다면 버튼을 클릭하세요.<br/>
                                소개, 배너 이미지, 스터디 주제 및 활동 지역을 등록했는지 확인하세요.<br/>
                                취미과 지역을 하나라도 등록하지 않으셨다면, 스터디가 공개되지 않습니다.
                            </div>
                            <div class="form-group">
                                <button class="btn btn-outline-primary" type="submit" aria-describedby="submitHelp">모임 공개</button>
                            </div>
                        </form>

                    </div>

                    <hr th:if="${!club.closed}"/>
                    <div class="row" th:if="${!club.closed}">
                        <h5 class="col-sm-12">모임 경로 수정</h5>
                        <form class="col-sm-12 formValidation" action="#" th:action="@{'/club/' + ${club.clubPath} + '/settings/club/path'}" method="post" novalidate>
                            <div class="alert alert-warning" role="alert">
                                모임 경로를 수정하면 이전에 사용하던 경로로 모임을 이용하실 수 없습니다. <br/>
                            </div>

                            <div class="form-group">
                                <input id="path" type="text" name="newPath" th:value="${club.clubPath}" class="form-control"
                                       placeholder="예) club-path" aria-describedby="pathHelp" required>
                                <small id="pathHelp" class="form-text text-muted">
                                    공백없이 문자, 숫자, 대시(-) 2자 이상 15자 이내로 입력하세요. 모임 홈 주소에 사용합니다. 예) /club/<b>club-path</b>
                                </small>
                                <small class="invalid-feedback">모임 경로를 입력하세요.</small>
                                <small class="form-text text-danger" th:if="${clubPathError}" th:text="${clubPathError}">Path Error</small>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-outline-warning" type="submit" aria-describedby="submitHelp">경로 수정</button>
                            </div>
                        </form>
                    </div>

                    <hr th:if="${!club.closed}"/>
                    <div class="row" th:if="${!club.closed}">
                        <h5 class="col-12">모임 이름</h5>
                        <form class="formValidation col-12" action="#" th:action="@{'/club/' + ${club.clubPath} + '/settings/club/title'}" method="post" novalidate>
                            <div class="alert alert-warning" role="alert">
                                모임 이름을 수정을 원하신다면, 모임 이름을 변경 후, 모임 이름 수정을 누르세요.<br/>
                            </div>

                            <div class="form-group">
                                <label for="title">모임 이름</label>
                                <input id="title" type="text" name="newTitle" th:value="${club.title}" class="form-control"
                                       placeholder="모임명" aria-describedby="titleHelp" required maxlength="50">
                                <small id="titleHelp" class="form-text text-muted">
                                    모임 이름을 20자 이내로 입력하세요.
                                </small>
                                <small class="invalid-feedback">모임 이름을 입력하세요.</small>
                                <small class="form-text text-danger" th:if="${clubTitleError}" th:text="${clubTitleError}">Title Error</small>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-outline-warning" type="submit" aria-describedby="submitHelp">모임 이름 수정</button>
                            </div>
                        </form>
                    </div>

                    <hr/>

                    <div class="row" th:if="${club.isRemovable()}">
                        <h5 class="col-sm-12 text-danger">모임 삭제</h5>
                        <form class="col-sm-12" action="#" th:action="@{'/club/' + ${club.getClubPath()} + '/settings/club/remove'}" method="post" novalidate>
                            <div class="alert alert-danger" role="alert">
                                <b>모임을 삭제하면 스터디 관련 모든 기록을 삭제하며 복구할 수 없습니다.</b> <br/>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-outline-danger" type="submit" aria-describedby="submitHelp">모임 삭제</button>
                            </div>
                        </form>
                    </div>

                    <div class="row" th:if="${!club.isRemovable()}">
                        <h5 class="col-sm-12 text-danger">스터디 삭제</h5>
                        <form class="col-sm-12" th:action="@{'/club/' + ${club.getClubPath()} + '/settings/club/remove'}" method="post" novalidate>
                            <div class="alert alert-danger" role="alert">
                                공개 중이고 모임을 했던 클럽는 삭제할 수 없습니다.
                            </div>
                            <div class="form-group">
                                <button class="btn btn-outline-danger" type="submit" aria-describedby="submitHelp" disabled>클럽 삭제</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script th:replace="fragments/script :: tooltip"></script>
<div th:replace="fragments/footer :: footer"></div>
<script th:replace="fragments/script:: formValidation"></script>

</body>
</html>
