
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="config">
  <meta charset="UTF-8">
  <title>뻔(Fun)모임</title>

  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css" />
  <script src="/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/node_modules/jdenticon/dist/jdenticon.min.js"></script>
  <script src="/node_modules/sweetalert/dist/sweetalert.min.js"></script>
  <link rel="stylesheet" href="/node_modules/@yaireo/tagify/dist/tagify.css">
  <style>
    .container{
      max-width: 100%;
    }
    .halfContainer{
      max-width: 80%;
      margin: auto
    }

    .input-body{
      border: 0;
      padding: 0;
      margin: 0;
    }

  </style>
</head>
</html>