<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="introduce" class="halfContainer inf-content row mt-5 justify-content-center">
<!--    <div class="mt-5 col-7">-->
<!--        <div class="tab-content" id="v-pills-tabContent">-->
<!--            <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-home-tab">-->
<!--                <p th:if="${!#strings.isEmpty(account.location)}">-->
<!--                            <span style="font-size: 20px;">-->
<!--                                <i class="fa fa-location-arrow col-1"></i>-->
<!--                            </span>-->
<!--                    <span th:text="${account.location}" class="col-9"></span>-->
<!--                </p>-->
<!--                <p th:if="${isOwner}">-->
<!--                            <span style="font-size: 20px;">-->
<!--                                <i class="fa fa-envelope-o col-1"></i>-->
<!--                            </span>-->
<!--                    <span th:text="${account.email}" class="col-9"></span>-->
<!--                </p>-->
<!--                <p th:if="${isOwner || account.emailVerified}">-->
<!--                            <span style="font-size: 20px;">-->
<!--                                <i class="fa fa-calendar-o col-1"></i>-->
<!--                            </span>-->
<!--                    <span th:if="${isOwner && !account.emailVerified}" class="col-9">-->
<!--                                <a href="#" th:href="@{'/checkemail?email=' + ${account.email}}">가입을 완료하려면 이메일을 확인하세요.</a>-->
<!--                            </span>-->
<!--                    <span th:text="${#temporals.format(account.joinedAt, 'yyyy년 M월 가입')}" class="col-9"></span>-->
<!--                </p>-->
<!--            </div>-->
<!--            <div class="tab-pane fade" id="v-pills-hobby" role="tabpanel" aria-labelledby="v-pills-profile-tab">-->
<!--                Study-->
<!--            </div>-->
<!--            <br/>-->
<!--        </div>-->
<!--    </div>-->
</div>

</html>