<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <span th:replace="fragments/config :: config"></span>
    <link th:href="@{/css/index.css}" rel="stylesheet">
</head>

<div th:replace="fragments/header :: mainHeader"></div>

<body class="bg-light">

    <section class="row justify-content-center pt-3 mt-3">
        <div th:replace="fragments/club :: club_list (clubList=${clubList})"></div>
    </section>

    <div class="jumbotron text-center mt-2 pt-2 mb-2 pb-2">
        <p></p>
        <p>Site : github.com/jjong0416</p>
        <p>Connect : jjong.dev@gmail.com</p>
        <small class="d-block mb-3 text-muted">&copy;2021</small>
    </div>
</body>
<script th:replace="fragments/script :: tooltip"></script>
<script th:replace="fragments/script :: time_script"></script>
</html>
