<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/config :: config"></head>
<body>

<div th:replace="fragments/header :: main_nav"></div>
<div th:replace="fragments/club :: clubBanner"></div>

<div class="container">

  <div th:replace="fragments/club :: club_stat"></div>
  <div th:replace="fragments/club :: club_menu (meeting)"></div>

  <div class="row my-3 mx-3 justify-content-center">
    <div class="col-9 px-0 row">
      <div class="col row row-cols-1 row-cols-md-3">

        <div th:if="${newMeetings.size() == 0}" class="col">
          <h3 class="text-center my-3"> 미팅이 존재하지 않습니다.</h3>
        </div>

        <div class="col mb-4 pr-0" th:each="meeting: ${newMeetings}">
          <div class="card">

            <div class="card-header" style="text-align: center; color: #30373b">
              <span class="h3" th:text="${meeting.title}">title</span>

            </div>

            <ul class="list-group list-group-flush">

              <li class="list-group-item">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                <span>모임장: </span>
                <strong class="text"  th:text="${meeting.createdAccount.getNickname()}"></strong>
              </li>

              <li class="list-group-item">
                <i class="fa fa-calendar"></i>
                <span>시작시간: </span>
                <strong class="calendar" th:text="${meeting.startDateTime}"></strong>
              </li>

              <li class="list-group-item">
                <i class="fa fa-money" aria-hidden="true"></i>
                <span>모임비: </span>
                <span class="text" th:text="${meeting.meetingPrice}+'원'"></span>
              </li>

              <li class="list-group-item">
                <i class="fa fa-ticket" aria-hidden="true"></i>
                <span>모집방식: </span>
                <span th:if="${meeting.meetingType.toString()} == 'FCFSB'">
                  <strong>선착순</strong>
                </span>
                <span th:if="${meeting.meetingType.toString()} == 'CONFIRM'">
                  <strong>미팅장 확인</strong>
                </span>
              </li>

              <li class="list-group-item">
                <i class="fa fa-users" aria-hidden="true"></i>
                <span>총 모집인원: </span>
                <span th:if="${meeting.limitOfEnrollments != 0}">
                  <span th:text="${meeting.limitOfEnrollments}+'명'"></span>
                  (<span th:text="${meeting.numberOfRemain()}"></span> 자리 남음)
                </span>
              </li>

              <li class="list-group-item" style="text-align: center">
                <span>미팅 </span>
                <a href="#" th:href="@{'/club/' + ${club.clubPath} + '/meeting/' + ${meeting.id}}" class="card-link">자세히 보기</a>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="col-9 px-0 row">
      <div class="col-12">

        <table th:if="${oldMeetings.size() > 0}" class="table table-hover">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">지난 모임 이름</th>
            <th scope="col">모임 종료</th>
            <th scope="col">모임장</th>
            <th scope="col"></th>
          </tr>
          </thead>

          <tbody th:each="meeting: ${oldMeetings}">
          <tr>
            <th scope="row" th:text="${meetingStat.count}">1</th>
            <td th:text="${meeting.title}">Title</td>
            <td>
              <span class="date-weekday-time" th:text="${meeting.endDateTime}"></span>
            </td>

            <td>
              <span class="text" th:text="${meeting.createdAccount.getNickname()}"></span>
            </td>

            <td>
              <a th:href="@{'/club/' + ${club.clubPath} + '/meeting/' + ${meeting.id}}" class="card-link">자세히 보기</a>
            </td>
          </tr>
          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>

<script th:replace="fragments/script:: tooltip"></script>
<script th:replace="fragments/script :: time_script"></script>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>

