<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <span th:replace="fragments/config :: config"></span>
</head>
<body class="bg-light">
<div th:replace="fragments/header :: main_nav"></div>
<div th:replace="fragments/club :: clubBanner"></div>

<div class="container">

    <div class="row mt-5 text-left justify-content-center bg-light">
        <div class="col-6">
            <a class="text-decoration-none" th:href="@{'/club/' + ${club.clubPath}}">
                <span class="h1" th:text="${club.title}">모임 이름</span>
            </a>

            <span th:if="${!club.published}" class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="bottom" title="모임방 공개를 하시오.">
            <button class="btn btn-primary btn-sm" style="pointer-events: none;" type="button" disabled>미공개</button>
            </span>
        </div>

        <div class="col-4 row text-right justify-content-end">
            <span sec:authorize="isAuthenticated()" th:if="${club.isJoinable(#authentication.principal)}" class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-primary" th:href="@{'/club/' + ${club.clubPath} + '/join'}"> 모임 가입</a>
            <a class="btn btn-outline-primary" th:href="@{'/club/' + ${club.clubPath} + '/members'}" th:text="${club.members.size()}"></a>
            </span>
        </div>
    </div>

<!--    <div class="row mt-5 text-left justify-content-center bg-light">-->

<!--        <div class="col-9">-->
<!--            <p class="lead" th:text="${club.shortDescription}"></p>-->
<!--        </div>-->

<!--        <span sec:authorize="isAuthenticated()" th:if="${club.published && !club.closed && club.isManager(#authentication.principal)}">-->
<!--                <a class="btn btn-outline-primary" th:href="@{'/club/' + ${club.clubPath} + '/new-event'}">-->
<!--                  <i class="fa fa-plus"></i> 미팅 만들기-->
<!--                </a>-->
<!--              </span>-->
<!--    </div>-->
    <!--        <div class="col-4 row text-right justify-content-end">-->
    <!--          <span th:if="${!club.published}" class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="bottom" title="모임방 준비중">-->
    <!--            <button class="btn btn-primary btn-sm" style="pointer-events: none;" type="button" disabled>공개X</button>-->
    <!--          </span>-->


    <!--            <span sec:authorize="isAuthenticated()" th:if="${club.isJoinable(#authentication.principal)}" class="btn-group" role="group" aria-label="Basic example">-->
    <!--            <a class="btn btn-primary" th:href="@{'/club/' + ${club.clubPath} + '/join'}">-->
    <!--                모임 가입-->
    <!--            </a>-->
    <!--            <a class="btn btn-outline-primary" th:href="@{'/club/' + ${club.clubPath} + '/members'}" th:text="${club.members.size()}"></a>-->
    <!--            </span>-->

    <!--            <span sec:authorize="isAuthenticated()" th:if="${!club.closed && club.isMember(#authentication.principal)}" class="btn-group" role="group">-->
    <!--        <a class="btn btn-outline-warning" th:href="@{'/club/' + ${club.clubPath} + '/leave'}">-->
    <!--          스터디 탈퇴 </a>-->
    <!--        <a class="btn btn-outline-primary" th:href="@{'/club/' + ${club.clubPath} + '/members'}" th:text="${club.members.size()}">-->
    <!--        </a>-->
    <!--      </span>-->

    <!--            <span sec:authorize="isAuthenticated()" th:if="${club.published && !club.closed && club.isManager(#authentication.principal)}">-->
    <!--        <a class="btn btn-outline-primary" th:href="@{'/club/' + ${club.clubPath} + '/new-event'}">-->
    <!--          <i class="fa fa-plus"></i> 모임 만들기-->
    <!--        </a>-->
    <!--      </span>-->
    <!--        </div>-->


</div>

<script th:replace="fragments/script:: formValidation"></script>
<div th:replace="fragments/footer :: footer"></div>
<script th:replace="fragments/script :: tooltip"></script>
</body>
</html>

<!--<div th:replace="fragments/club :: club_stat"></div>-->
<!--<div th:replace="fragments/club :: club_menu (info)"></div>-->



<!--

<div class="row justify-content-center bg-light">
    <div class="col-10">
        <p class="lead" th:text="${club.shortDescription}"></p>
    </div>
</div>

<div class="row justify-content-center bg-light">
    <div class="col-10">
        <p>
        <span th:each="hobby: ${club.hobby}" class="font-weight-light text-monospace badge badge-pill badge-info mr-3">
          <a th:href="@{'/search/hobby/' + ${hobby.title}}" class="text-decoration-none text-white">
            <i class="fa fa-tag"></i> <span th:text="${hobby.title}">Tag</span>
          </a>
        </span>

            <span th:each="city: ${club.city}" class="font-weight-light text-monospace badge badge-primary mr-3">
          <a th:href="@{'/search/city/' + ${city.id}}" class="text-decoration-none text-white">
            <i class="fa fa-globe"></i> <span th:text="${city.krCity}">City</span>
          </a>
        </span>
        </p>
    </div>
</div>

</div>
-->