<!DOCTYPE html>
<html lang="en">
<head>
    <span th:replace="fragments/config :: config"></span>
    <link th:href="@{/css/profile.css}" rel="stylesheet">
</head>

<div th:replace="fragments/header :: main_nav"></div>
<body>
<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-2 d-none d-md-block ">
            <div th:replace="fragments/profileFragments :: setting_bar(Menu='account')"></div>
        </div>

        <div class="col-8">
            <div th:if="${message} == '성공'">
                <div th:replace="fragments/script :: sucessUpdatePassword"></div>
            </div>


            <div class="card">
                <div class="card-body tab-content">
                    <div class="tab-pane active" id="changeNickname">
                        <h4>닉네임 수정</h4>
                        <hr>
                        <div class="col">
                            <div class="card text-left halfContainer">
                                <form class="formValidation col-12 mt-3" th:object="${nicknameForm}" th:action="@{/settings/account}" method="post" novalidate>
                                    <label for="nickname" style="font-size: 20px">새로운 닉네임</label>
                                    <div class="form-group">
                                        <input id="nickname" type="text" th:field="*{nickname}" class="form-control" aria-describedby="nicknameHelp"  required>
                                        <small id="nicknameHelp" class="form-text text-muted">
                                            공백없이 문자와 숫자로만 6자 이상 20자 이내로 입력하세요. 가입후에 변경할 수 있습니다.
                                        </small>
                                        <small class="invalid-feedback">닉네임을 입력하세요.</small>
                                        <small class="form-text text-danger" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">nickname Error</small>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-outline-primary" type="submit" aria-describedby="submitHelp" name="id" th:value="id">변경하기</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:replace="fragments/script :: formValidation"></script>
</body>
<div th:replace="fragments/footer :: footer"></div>
</html>
