<!DOCTYPE html>
<html lang="en">
<head>
    <span th:replace="fragments/config :: config"></span>
    <link th:href="@{/css/profile.css}" rel="stylesheet">
    <link  href="/node_modules/cropper/dist/cropper.min.css" rel="stylesheet">
    <script src="/node_modules/cropper/dist/cropper.min.js"></script>
    <script src="/node_modules/jquery-cropper/dist/jquery-cropper.min.js"></script>
    <script th:replace="fragments/script :: imageUpload"></script>
</head>

<div th:replace="fragments/header :: main_nav"></div>
<body>
<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-2 d-none d-md-block ">
            <div th:replace="fragments/profileFragments :: setting_bar(Menu='profile')"></div>
        </div>

        <div class="col-8">
            <div th:if="${message} == '성공'">
                <div th:replace="fragments/script :: sucessUpdateProfile"></div>
            </div>

            <div th:if="${message} == '실패'">
                <div th:replace="fragments/script :: failUpdateProfile"></div>
            </div>

            <div class="card">
                <div class="card-body tab-content">

                    <div class="tab-pane active" id="profile">
                        <h4>프로필 수정</h4>
                        <hr>
                        <div class="col">
                            <div class="card text-center">
                                <div class="card-header">
                                    프로필 이미지
                                </div>
                                <div id="current-profile-image" class="mt-3"> <!-- 현재 이미지를 보여주는 것 -->
                                    <svg th:if="${#strings.isEmpty(profile.profileImage)}" class="rounded"
                                         th:data-jdenticon-value="${account.nickname}" width="125" height="125"></svg>
                                    <!-- 이미지를 파일로 저장하는게 아니고 String 즉 문자열 그대로 저장할 것이다. DB에 저장한다.-->
                                    <img th:if="${!#strings.isEmpty(profile.profileImage)}" class="rounded"
                                         th:src="${profile.profileImage}"
                                         width="125" height="125" alt="name" th:alt="${account.nickname}"/>
                                </div>
                                <div id="new-profile-image" class="mt-3"></div>
                                <div class="card-body">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="profile-image-file">
                                        <label class="custom-file-label" for="profile-image-file">프로필 이미지 변경</label>
                                    </div>
                                    <div id="new-profile-image-control" class="mt-3">
                                        <button class="btn btn-outline-primary btn-block" id="cut-button">자르기</button>
                                        <button class="btn btn-outline-success btn-block" id="confirm-button">확인</button>
                                        <button class="btn btn-outline-warning btn-block" id="reset-button">취소</button>
                                    </div>
                                    <div id="cropped-new-profile-image" class="mt-3"></div>
                                </div>
                            </div>
                        </div>

                        <h4 class="mt-4">한줄 수정</h4>
                        <hr>
                        <form th:action="@{/settings/profile}" th:object="${profile}" method="post" novalidate>
                            <div class="form-group">
                                <label for="fullName">닉네임</label>
                                <input type="text" class="form-control" id="fullName" disabled aria-describedby="fullNameHelp" placeholder="Enter your fullname" th:value="${account.nickname}">
                                <small id="fullNameHelp" class="form-text text-muted">&#160;닉네임 변경은 계정 설정에서 하실 수 있습니다.</small>
                            </div>

                            <div class="form-group">
                                <label for="bio">한 줄 소개</label>
                                <input id="bio" type="text" th:field="*{shortBio}" class="form-control"
                                       placeholder="간략한 소개를 부탁합니다." aria-describedby="bioHelp" required>
                                <small id="bioHelp" class="form-text text-muted">
                                    25자 이하의 짧은 글을 작성해주시길 바랍니다.
                                </small>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('shortBio')}" th:errors="*{shortBio}">
                                    1~25자 사이의 글만 써주시길 바랍니다.
                                </small>
                            </div>

                            <div class="form-group">
                                <input id="profileImage" type="hidden" th:field="*{profileImage}" class="form-control" />
                            </div>

                            <div class="form-group">
                                <button class="btn btn-success btn-block" type="submit"
                                        aria-describedby="submitHelp">수정하기</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<div th:replace="fragments/footer :: footer"></div>
</html>