<!DOCTYPE html>
<html lang="en">
<head>
    <span th:replace="fragments/config :: config"></span>
    <link th:href="@{/css/profile.css}" rel="stylesheet">
</head>

<div th:replace="fragments/header :: main_nav"></div>
<body>
<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-2 d-none d-md-block ">
            <div th:replace="fragments/profileFragments :: setting_bar"></div>
        </div>

        <div class="col-7">
            <div th:if="${message} == '성공'">
                <div th:replace="fragments/script :: sucessUpdateProfile"></div>
            </div>

            <div class="card">
                <div class="card-body tab-content">
                    <div class="tab-pane active col-6" id="profile">
                        <h4>프로필 수정</h4>
                        <hr>
                        <form th:action="@{/settings/profile}" th:object="${profile}" method="post" novalidate>
                            <div class="form-group">
                                <label for="fullName">닉네임</label>
                                <input type="text" class="form-control" id="fullName" disabled aria-describedby="fullNameHelp" placeholder="Enter your fullname" th:value="${account.nickname}">
                                <small id="fullNameHelp" class="form-text text-muted">&#160;닉네임 변경은 계정 설정에서 하실 수 있습니다.</small>
                            </div>

                            <div class="form-group">
                                <label for="bio">한 줄 소개</label>
                                <input id="bio" type="text" th:field="*{short_bio}" class="form-control"
                                       placeholder="간략한 소개를 부탁합니다." aria-describedby="bioHelp" required>
                                <small id="bioHelp" class="form-text text-muted">
                                    길지 않게 25자 이내로 입력하세요.
                                </small>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('short_bio')}" th:errors="*{short_bio}">
                                    조금 길어요.
                                </small>

                            </div>

                            <div class="form-group">
                                <button class="btn btn-success btn-block" type="submit"
                                        aria-describedby="submitHelp">수정하기</button>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="account">

                    </div>
                    <div class="tab-pane" id="security">

                    </div>
                    <div class="tab-pane" id="notification">

                    </div>
                    <div class="tab-pane" id="location">

                    </div>
                    <div class="tab-pane" id="hobby">

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
<div th:replace="fragments/footer :: footer"></div>
</html>
